services:
  mongo1:
    image: mongo:7.0
    container_name: mongo1
    command: mongod --replSet rs0 --bind_ip_all
    ports:
      - "27017:27017"
    volumes:
      - mongo1_data:/data/db
      - ./data:/data/import

  mongo2:
    image: mongo:7.0
    container_name: mongo2
    command: mongod --replSet rs0 --bind_ip_all
    ports:
      - "27018:27017"
    volumes:
      - mongo2_data:/data/db

  mongo3:
    image: mongo:7.0
    container_name: mongo3
    command: mongod --replSet rs0 --bind_ip_all
    ports:
      - "27019:27017"
    volumes:
      - mongo3_data:/data/db

  arbiter:
    image: mongo:7.0
    container_name: mongo_arbiter
    command: mongod --replSet rs0 --bind_ip_all
    ports:
      - "27020:27017"
    volumes:
      - arbiter_data:/data/db  

volumes:
  mongo1_data:
  mongo2_data:
  mongo3_data:
  arbiter_data:
